.root {
    display: grid;
    grid-template-areas:
    "one two three"
    "one four three"
    "one five three";
    gap: 10px;
}


div > div {
    background-color: red;
    /* opacity: 0.1; */
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four
{
    grid-area: four;
}

/* #five {
    grid-area: five;
} */
